.about {
  margin-top: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-about {
  position: relative;
}
.about-image {
  border-radius: 12px;
  margin-left: 22px;
  width: 100%;
}
.about-play {
  display: flex;
  position: absolute;
  width: 60px;
  top: 42%; /* Adjusted positioning */
  left: 43%; /* Adjusted positioning */
}
.right-about {
  display: flex;
  flex-direction: column;
  margin-left: 55px;
}
.right-about h3 {
  color: #212ea0;
  font-size: 16px;

  font-weight: 700;
  text-transform: uppercase;
}
.right-about h2 {
  font-size: 35px;
  color: #000f38;
  margin: 10px 0;
  max-width: 400px;
}
.right-about p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #676767;
}
