.programs{
    margin: 60px auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.programs img{
    width: 105%;
    display: block;
    border-radius: 10px;
}
.program{
    flex-basis: 29%;
    position: relative;
}
.caption{
    position: absolute;
    width: 105%;
    border-radius: 10px;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    background-color: rgba(0, 15, 150, 0.4);
    cursor: pointer;
    transition:0.4s;
    padding-top: 60%;
    opacity: 0;
}
.caption img{
    width: 55px;
    margin-bottom: 10px;
}
.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}