.contact {
    margin: 70px auto;
    
    display: flex;
}

.left_part {
    width: 50%;
}

.left-heading h2 {
    margin-bottom: 23px;
}

.left-heading p {
    color: #676767;
    line-height: 1.5;
}

.left-heading img {
    width: 40px;
    margin-right: 10px; /* Adjusted */
    display: inline-block; /* Added */
    vertical-align: middle; /* Adjusted */
}

.contact-info p {
    margin: 25px 0 20px 0;
    color: #676767;

}

.contact-info img {
    width: 30px;
    margin-right: 15px;
    display: inline-block; /* Added */
    vertical-align: middle; /* Adjusted */
}
.right-part{
    width: 50%;
    margin-left: 25px;
}
.right-part form input,textarea{
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 12px;
    width: 100%;
    background: #EBECFE;
    outline: 0;
    resize: none;
    border: 0;
}
.btn{
    font-size: 16px;
    background: #212ea0;
    color: #fff;
}
.right-part span{
    margin:20px 0;
    color: #676767;
}